
$shadowGradient : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,13,0.5) 72%, rgba(0,212,255,1) 100%);

.container {
    width:70vw ;
    height: calc(100vh - 164px - var(--footerHeight));
    margin: auto;
    padding: 5px;
    border-radius: 7px;
    position: fixed;
    top: 164px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    // background: linear-gradient(360deg, #010000 0%, rgba(12, 12, 13, 0.5) 72%, #1c1c1c8c 100%);

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
   
        border: 1px solid #00000000;
        border-radius: 1px;
        background-color: #00000000;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #4e4040c9;
        border-radius: 2px;
    }


 

}



.input{
   width: 100%;
    border: none;
    border-bottom: 1px solid #198754;
    outline: none;
    background-color:#00000000;
    padding: 0 0 0 7px;
    // box-shadow: 0px 20px 20px -5px  #ffffff50;
    color:#fff;

    
    &:focus{
        
        border-bottom: 1px solid #198754;
        padding: 0 0 0 7px;
        box-shadow:none;
     }

}
.form{
    width: 70vw;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 103px;
}
.button{
   
    outline: none;
    border:none;
    background-color: #00000000;
    border-bottom: 1px   solid #198754;
    
    

   
       
  
}
.questionItem{
    font-size: 20px;
    color: #fff;
}
.hidden{
    display: none;
}

.back-button{
    position: fixed;
    top: 90px;
    left: 100px;
}
.create-button{
    position: fixed;
    top: 90px;
}
.hidden-content{
    width:70vw ;
    height: 300px;
    margin:  auto;
    position: fixed;
    left: 0;
    right: 0;
    opacity: .5;
    z-index: 100;


}