.wrap {
    border: 1px solid #198754;
    padding: 8px;
    border-radius: 5px;

}

.cancel {
    padding: 0 20px;
    font-size: 12px;
}

.add {
    margin:  0 8px 0 0 ;
    padding: 0 20px;
    font-size: 12px;
}