.delete-answer {

    &:hover {
        background-color: #dc354550;
        color: #fff;
       
    }
   
}

.edit-answer {
    &:hover {
        background-color: rgba(197, 211, 120, .3);
        color: #fff;
      
    }
   

}

.add-answer {
    &:hover {
        background-color: #19875450;
        color: #fff;
       
    }
   

}