.sv-container{
    width: 100vw;
    height: calc(100vh - var(--menubarHeight) - var(--footerHeight));
    background-color: #ffffff50;
    position: fixed;
    top: var(--menubarHeight);
    left: 0;
    padding: 5px;
 
}

.photo{
    width: 290px;
    height: 294px;
    border-radius: 10px;
    border: 1px solid #000;
   
}