.container{
    width: 100%;
    padding: 10px 15vw;
    color: #ccc;
    margin:  auto;
    // position: absolute;
    left: 0;
    right: 0;
    // top: var(--menubarHeight);
    // height: calc(100vh - var(--menubarHeight) - var(--footerHeight));
    // overflow: scroll;
    word-break: break-word;
    


}

.checkbox{
    margin: 0 25px 0 0 ;
    font-size: 15px;
}
.answer{
    width: 100%;
    display: flex;
    word-break: break-word;
    margin: 10px 0;
    border: 1px dashed #cccccc20;
    border-radius: 10px;
    padding: 5px;
    background-color:#00000050;
    color: #ccc;
}
.testName{
    text-align: center;
    text-decoration: underline ;
    
    color: #ccc;
    word-break: break-word;
}
.countQuestion{
    text-align: center;
}
.wrapQuestion{
    border: 1px dashed #cccccc20;
    padding: 10px;
    border-radius: 10px;
    background-color: #cccccc10;
    
}
.questionName{
    text-decoration: underline;
}

.button-wrap__finish{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.button-wrap__next{
    width: 100%;
    display: flex;
    justify-content: end;
}